<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questionaire</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/edmarket/static/css/quiz.css">

</head>
<body>
	<div class="row">
		<div class="col-md-4">
			<div class="Rectangle-1-copy">
				
				<!-- EDOMODO LOGO -->
				<div style="position: absolute;">	
					<!-- jpg -->
					<img src="/edmarket/static/img/edmodo-logo-copy.jpg" srcset="/edmarket/static/img/edmodo-logo-copy@2x.jpg 2x, /edmarket/static/img/edmodo-logo-copy@3x.jpg 3x" class="edmodo_logo-copy"> 
					
					<!-- png
					<img src="/edmarket/static/img/edmodo-logo-copy.png" srcset="/edmarket/static/img/edmodo-logo-copy@2x.png 2x, /edmarket/static/img/edmodo-logo-copy@3x.png 3x" class="edmodo_logo-copy">
					-->
				</div>

				<!-- Grey Line -->
				<div class="GreyLine">
					<p class="Shape-17"></p>
				</div>

				<!-- Right Arrow Icon -->
				<div class="Right-arrow-icon">
					<div>
						<!-- png -->
						<img src="/edmarket/static/img/shape-24.jpg" class="Shape-24">
						<!-- svg -->
						<!-- <img src="/edmarket/static/img/shape-24.svg" class="Shape-24"> -->
					</div>
				</div>

			</div>

		</div>

		<!-- Violet Box -->
		<div>
			<div class="Rectangle-4-copy-2" id="Rectangle_4_copy_2">
				
				<!-- Book Logo -->
				<div class="Book-Logo">
					<img src="/edmarket/static/img/vector-smart-object.jpg" srcset="/edmarket/static/img/vector-smart-object@2x.jpg 2x, /edmarket/static/img/vector-smart-object@3x.jpg 3x" class="Vector-Smart-Object">
				</div>
				
				<!--Close Button-->
				<div class="Close-Button">
					<a class="Shape-22">X</a>
				</div>

				<!-- Heading -->
				<div class="Heading">
					<p class="ELEMENTARY-English---5th-Grade">ELEMENTARY English (5th Grade)</p>
				</div>

				<!-- Sub Heading -->
				<div class="Sub-Heading">
					<p class="This-course-helps-you-improve-the-printing-and-typesetting-indu">This course helps you improve the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>

				<!-- View Discussion -->
				<div class="ViewDicussion">
					<u class="VIEW-DISCUSSION"><a style="text-decoration: none; color: #333333;">VIEW DISCUSSION</a></u>
				</div>

				<!-- View Answer History -->
				<div class="View-ans-History">
					<u class="VIEW-ANSWER-HISTORY"><a style="text-decoration: none; color: #333333;">VIEW ANSWER HISTORY</a></u>
				</div>

				<div class="Question">
					<p class="Which-sentence-shows-correct-punctuation">Which sentence shows correct punctuation?</p>
				</div>

				<!-- Options -->
				<div>
					<!-- Option 1 -->
					<p class="Rounded-Rectangle-4" id="Outer-Box-Option-1">
						<p class="Rounded-Rectangle-4-copy" id="Inner-Box-Option-1">
							<a class="glyphicon glyphicon-ok" id="Common-Hyperlink"></a>
						</p>
						<p style="position: absolute; margin-left: 4vw; margin-top: 3vh;"></p>
					</p>

					<!-- Option 2 -->
					<p class="Rounded-Rectangle-4" id="Outer-Box-Option-2">
						<p class="Rounded-Rectangle-4-copy" id="Inner-Box-Option-2">
							<a class="glyphicon glyphicon-ok" id="Common-Hyperlink"></a>
						</p>
						<p style="position: absolute; margin-left: 4vw; margin-top: 11vh;"></p>
					</p>

					<!-- Option 3 -->
					<p class="Rounded-Rectangle-4" id="Outer-Box-Option-3">
						<p class="Rounded-Rectangle-4-copy" id="Inner-Box-Option-3">
							<a class="glyphicon glyphicon-ok" id="Common-Hyperlink"></a>
						</p>
						<p style="position: absolute; margin-left: 4vw; margin-top: 19vh;"></p>
					</p>

					<!-- Option 4 -->
					<p class="Rounded-Rectangle-4" id="Outer-Box-Option-4">
						<p class="Rounded-Rectangle-4-copy" id="Inner-Box-Option-4">
							<a class="glyphicon glyphicon-ok" id="Common-Hyperlink"></a>
						</p>
						<p style="position: absolute; margin-left: 4vw; margin-top: 27vh;"></p>
					</p>
				</div>

				<!-- Skip Button -->
				<div style="position: absolute;" class="Rounded-Rectangle-1-copy-2">
					<p class="SKIP">SKIP</p>
				</div>
				<!-- Submit Button -->
				<div style="position: absolute;" class="Rounded-Rectangle-1-copy">
					<p class="SUBMIT">SUBMIT</p>
				</div>

				<!-- Badge Logo -->
				<div class="Badge-logo">
					<img src="/edmarket/static/img/vector-smart-object.jpg" srcset="/edmarket/static/img/vector-smart-object@2x.jpg 2x, /edmarket/static/img/vector-smart-object@3x.jpg 3x" class="Vector-Smart-Object" style="height: 20vh; width: 20vw;">
				</div>
				
				<!-- Badge Earn Description -->
				<div class="Rectangle-4-copy-3" id="Badge-descp">
					<p class="-more-right-answers-to-earn-a-badge-Get-it-quick-to-move-stra">3 more right answers to earn a badge. Get it quick to move straight to rank 2!</p>
				</div>

			</div>
			
		</div>

	</div>
</body>
</html>